<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/mainpage.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <title>핫식스</title>
</head>
<body>


    <div class="content">
        <header class="header-container">
            <h1 class="brand-logo">핫식스</h1>
            <div class="menu-container">
                <h3 class="menu">메뉴</h3>
                <h3 class="path">오시는길</h3>
            </div>
        </header>
        <h1>1</h1>
    </div>
    <div class="content"><h1>2</h1></div>
    <div class="content"><h1>3</h1></div>
    <div class="content"><h1>4</h1></div>
    <div class="content"><h1>5</h1></div>
    <div class="content"><h1>6</h1></div>
    <div class="content"><h1>7</h1></div>
    
    
    <main class="main-course">
        <h1>점심 코스</h1>
        <div class="brunch_course">
            
            <div class="menu01">
                <div class="img-container">
                    <img src="/static/image/kakaofriends.png" class="menu-img">
                    <button class="menu-button1">메뉴보기</button>
                </div>     
                
            </div>

            <div class="menu01">
                <div class="img-container">
                    <img src="/static/image/kakaofriends.png" class="menu-img">
                    <button class="menu-button2">메뉴보기</button>
                </div> 
    
                
            </div>


        </div>

        <h1>저녁 코스</h1>
        <div class="dinner_course">
            <div class="menu01">
                <div class="img-container">
                    <img src="/static/image/2017042000056_0.jpg" class="menu-img">
                    <button class="menu-button3">메뉴보기</button>
                </div> 
            </div>
            <div class="menu01">
                <div class="img-container">
                    <img src="/static/image/2017042000056_0.jpg" class="menu-img">
                    <button class="menu-button4">메뉴보기</button>
                </div>   
            </div>
        </div>
        <div class="button-container" > 
            <div class="button-group">
                <button type="submit" class="reserve">예약하기</button>
                <button class="reserve">예약조회</button>
            </div>    
        </div>

 

    </main>
    <script src="/static/js/scoll.js"></script>  
</body>
</html>